body {
  max-width: 1920px;
  margin: 2rem auto 0 auto;
}
@media screen and (max-width: 767px) {
  body {
    margin: 2rem 0 0;
  }
}

ul {
  padding-left: 0;
}

.hidden {
  display: none;
}

/*@import "../Utils/variables";
@import "../Utils/mixin";*/
@font-face {
  font-family: "Montserrat";
  src: url("./assets/police/Montserrat-Regular.otf");
}
body {
  font-family: "Montserrat";
  color: #FF6060;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
  color: #FF6060;
}

h2 {
  font-size: 1rem;
  color: #FF6060;
}

p, strong {
  font-size: 1rem;
  color: #FF6060;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #FF6060;
}
a.active {
  text-decoration: underline;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6rem;
}
@media screen and (max-width: 767px) {
  header {
    margin: 0 1.5rem;
  }
}
header img {
  height: 3rem;
  width: 9rem;
}
@media screen and (max-width: 767px) {
  header img {
    height: 4rem;
    width: 40%;
  }
}
header nav {
  width: 40%;
}
@media screen and (max-width: 1023.9999px) {
  header nav {
    width: 55%;
  }
}
@media screen and (max-width: 767px) {
  header nav {
    text-transform: uppercase;
  }
}
header ul {
  display: flex;
  justify-content: space-between;
}
header li {
  width: 50%;
  text-align: end;
}
@media screen and (max-width: 767px) {
  header a {
    font-size: 0.75rem;
  }
}

footer {
  height: 200px;
  width: 100%;
  background-color: black;
  text-align: center;
}
@media screen and (max-width: 767px) {
  footer {
    margin: 0;
  }
}
footer p {
  color: white;
}
footer img {
  height: 2rem;
  width: 6rem;
  margin-top: 70px;
  margin-bottom: 30px;
}

.collapse_container {
  margin-top: 2rem;
  font-size: 1.5rem;
  background-color: #F7F7F7;
  border-radius: 0 0 5px 5px;
}
.collapse_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  height: 2rem;
  border-radius: 5px;
}
.collapse_top .fa-chevron-down, .collapse_top .fa-chevron-up {
  color: white;
  margin-right: 1rem;
}
.collapse_title {
  color: white;
  margin-left: 1rem;
}
.collapse_bottom {
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}
.collapse_bottom p {
  margin: 0;
}

.card-logement {
  display: flex;
  height: 400px;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 1023.9999px) {
  .card-logement {
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .card-logement {
    height: 200px;
  }
}
.card-logement h2 {
  position: absolute;
  color: white;
  align-self: flex-end;
  margin: 0 1rem 1.5rem 1rem;
}
.card-logement img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carrousel_container {
  display: flex;
  position: relative;
}
.carrousel_container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .carrousel_container img {
    height: 300px;
  }
}
.carrousel_container .fa-solid {
  position: absolute;
  font-size: 6rem;
  color: white;
  top: 40%;
}
@media screen and (max-width: 767px) {
  .carrousel_container .fa-solid {
    font-size: 3rem;
  }
}
.carrousel_container .fa-chevron-right {
  right: 1rem;
}
.carrousel_container .fa-chevron-left {
  left: 1rem;
}
.carrousel_container .counter {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: white;
}

.logement_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF6060;
  border-radius: 10px;
  height: 2rem;
  width: max-content;
  padding: 0 1rem;
  color: white;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  .logement_tag {
    font-size: 0.62rem;
  }
}

.unrated {
  color: #E3E3E3;
}

.fa-star {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
@media screen and (max-width: 767px) {
  .fa-star {
    font-size: 1rem;
    margin-left: 0.3rem;
  }
}

.apropos_container {
  margin: 2rem 6rem;
}
@media screen and (max-width: 767px) {
  .apropos_container {
    margin: 2rem 1.5rem 0;
  }
}
.apropos_container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}
.apropos_container > div {
  margin: 2rem 6rem;
}
@media screen and (max-width: 1023.9999px) {
  .apropos_container > div {
    margin: 2rem 0;
  }
}

.home_container {
  margin: 2rem 6rem;
}
@media screen and (max-width: 767px) {
  .home_container {
    margin: 2rem 1.5rem;
  }
}

.banner_container {
  position: relative;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .banner_container {
    text-align: left;
  }
}
.banner_container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .banner_container img {
    height: 100px;
  }
}
.banner_container h1 {
  color: white;
  position: absolute;
  top: 50px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .banner_container h1 {
    font-size: 1.5rem;
    top: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 90%;
  }
}

.logements_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #F7F7F7;
  border-radius: 10px;
}
.logements_section a {
  flex: 0 0 30%;
  margin: 1rem 0;
}
@media screen and (max-width: 1023.9999px) {
  .logements_section a {
    flex: 0 0 45%;
  }
}
@media screen and (max-width: 767px) {
  .logements_section a {
    flex: 0 0 100%;
  }
}

.error404_container {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .error404_container {
    margin: 0 1.5rem;
  }
}
.error404_container h1 {
  font-size: 288px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .error404_container h1 {
    font-size: 96px;
    margin: 5rem 0;
  }
}
.error404_container p {
  font-size: 36px;
}
@media screen and (max-width: 767px) {
  .error404_container p {
    font-size: 18px;
  }
}
.error404_container a {
  display: block;
  text-decoration: underline;
  font-size: 18px;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 767px) {
  .error404_container a {
    font-size: 14px;
  }
}

.logement_container {
  margin: 2rem 6rem;
}
@media screen and (max-width: 767px) {
  .logement_container {
    margin: 2rem 1.5rem;
  }
}

.logement_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logement_header-text {
  width: 70%;
}
@media screen and (max-width: 1023.9999px) {
  .logement_header-text {
    width: 100%;
    order: 0;
  }
}
.logement_header-text h1 {
  font-size: 2.4rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 767px) {
  .logement_header-text h1 {
    font-size: 1.5rem;
  }
}
.logement_header-text strong {
  font-size: 1.2rem;
  font-weight: normal;
}
@media screen and (max-width: 767px) {
  .logement_header-text strong {
    font-size: 0.8rem;
  }
}

.logement_host-description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 1023.9999px) {
  .logement_host-description {
    order: 3;
  }
}
.logement_host-description img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .logement_host-description img {
    width: 50px;
    height: 50px;
  }
}
.logement_host-description strong {
  width: 35%;
  margin-right: 0.5rem;
}
@media screen and (max-width: 767px) {
  .logement_host-description strong {
    font-size: 0.75rem;
  }
}

.logement_tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 1.5rem;
}
@media screen and (max-width: 1023.9999px) {
  .logement_tags {
    order: 1;
    width: 100%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1023.9999px) {
  .logement_rating {
    order: 2;
  }
}

.logement_description-equip-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .logement_description-equip-container {
    flex-wrap: wrap;
  }
}

.logement_description, .logement_equipements {
  width: 45%;
}
@media screen and (max-width: 767px) {
  .logement_description, .logement_equipements {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
