$color:(primary:#FF6060);
$colorGrey:(shadow:#DEDEDE,dark:#EAEAEA,light:#F7F7F7);
$font:'Montserrat';
$fontSize:(p:1rem,h1:3rem,h2:1rem,nav:1.5rem);
$colorBgFooter:black;
$colorBgCard:white;
$minWidth:(tablette:768px,desktop:1024px);
$maxWidth:(tablette:1023.9999px,desktop:1920px);     