.home_container{
    margin:2rem 6rem;
    @include mobileOnly{
        margin:2rem 1.5rem;
    }
}

.banner_container{
    position: relative;
    text-align: center;
    @include mobileOnly{
        text-align: left;
    }
    img{
        @include bannerImg;
        @include mobileOnly{
            height: 100px;
        }
    }
    h1{
        color:white;
        position: absolute;
        top: 50px;
        width: 100%;
        @include mobileOnly{
            font-size:1.5rem;
            top:0;
            margin-left:0.5rem;
            margin-right: 0.5rem;
            width: 90%;
        }
    }
}

.logements_section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:2rem;
    padding:2rem;
    background-color: map-get($colorGrey,light);
    border-radius: 10px;
    a{
        flex:0 0 30%;
        margin:1rem 0;

        @include tabletteOnly{
            flex:0 0 45%;
        }

        @include mobileOnly{
            flex:0 0 100%;
        }
    }
}