.card-logement{
    display: flex;
    height: 400px;
    width: 100%;
    position: relative;
    @include tabletteOnly{
        height: 300px;
    }
    @include mobileOnly{
        height: 200px;
    }
    h2{
        position: absolute;
        color: white;
        align-self: flex-end;
        margin: 0 1rem 1.5rem 1rem;
    }
    img{
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}