.collapse{
    &_container{
        margin-top:2rem;
        font-size:1.5rem;
        background-color: map-get($colorGrey,light);
        border-radius: 0 0 5px 5px;
    }
    &_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: map-get($map: $color, $key: primary);
        height: 2rem;
        border-radius: 5px;
        .fa-chevron-down, .fa-chevron-up{
            color:white;
            margin-right: 1rem;
        }
    }
    &_title{
        color:white;
        margin-left: 1rem;
    }
    &_bottom{
        padding:0.5rem 1rem;
        line-height: 1.5rem;
        margin-top:1rem;
        p{
            margin:0;
        }
    }
}